@tailwind base;
@tailwind components;
@tailwind utilities;


.poppins{
  font-family: Poppins;
}

.my-mail{
  writing-mode: vertical-lr;
}


.container {
  width: 150px; /* Set the desired width of the container */
  overflow: hidden;
}

.scrolling-text {
  white-space: nowrap; /* Prevent the text from wrapping */
  animation: scroll-left 25s infinite; /* Define the animation */
}

@keyframes scroll-left {
  0% {
    transform: translateX(-100%); /* Start position */
  }
  25% {
    transform: translateX(0); /* End position (completely shifted to the left) */
  }
  50% {
    transform: translateX(0); /* End position (completely shifted to the left) */
  }
  75% {
    transform: translateX(-100%); /* End position (completely shifted to the left) */
  }
  100% {
    transform: translateX(0); /* End position (completely shifted to the left) */
  }

}




/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #6FC400;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6FC400;
}


#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}